* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background: #D7CCC8;
    font-family: arial;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

::-webkit-input-placeholder { color: #ccc }
#loginWrap {
    width: 300px;
    height: 272px;
    margin: 0 auto;
    background: snow;
    border-radius: 10px 10px 10px 10px;
    background-clip: padding-box;
    box-shadow: 3px 6px 8px 4px #3E2723;
    border:1px solid #ccc;
}
#loginHeader {
    background: #795548;
    height: 50px;
    border-radius: 10px 10px 0 0;
    background-clip: padding-box;
    border-top: 1px solid snow;
    border-bottom: 1px solid snow;
    padding: 12px 0 0 103px;
}
#loginHeader h2 {
    color: snow;
    font-size: 24px;
    font-weight: 400;
    margin-right: 50px;
}
#loginBody {
    height: 220px;
    background: #f5f3f0;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid #fff;
}
form input[type="text"],
form input[type="password"] {
    height: 45px;
    width: 260px;
    outline: 0;
    -moz-outline-style: none;
}
form input[type="text"] {
    border: 1px solid #795548;
    margin: 30px 0 0 20px;
    font-size: 1em;
    padding: 0 0 0 10px;
}
form input[type="password"] {
    border: 1px solid #795548;
    margin: 0 0 0 20px;
    font-size: 1em;
    padding: 0 0 0 10px;
    margin-top: 10px;
}
form input::placeholder{
    color: black;
    opacity: 0.7;
}
#loginBody button {
    width: 260px;
    height: 45px;
    margin: 20px 0 0 20px;
    border-radius: 5px;
    border: none;
    background-color:#4E342E;
    color: #FAFAFA;
    font-size: .9em;
    box-shadow: 0px 1px 10px 2px #ccc;
    cursor: pointer;
}
#loginBody button:active { background-image: -webkit-linear-gradient(top, #cc6854, #d98471) }